@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
#particles-js {
  position : absolute;
  width:100%;
  height:100%;
  z-index:-1;
}

html{
  background: linear-gradient(#f9f9f9,#ecf0f9);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
  margin-top:2em;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    margin-top:2em;
}


h1 {
  font-family: 'General Sans', sans-serif;
  text-align: left;
  color: rgb(37, 37, 37);
  font-size: 80px;
  padding-top: 2.3em;
  padding-bottom: 0.5em;
  margin-left:13%;
  margin-right: 10%;
}

h2 {
  font-family: 'General Sans', sans-serif;
  text-align: left;
  color: rgb(27, 75, 239);
  font-size: 35px;
  font-weight: normal;
  padding-bottom: 0.5em;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10%;
  margin-left: 13%;
}

.p1 {
  font-family: 'General Sans', sans-serif;
  text-align: center;
  color: rgb(37, 37, 37);
  font-size: 30px;
  font-weight: normal;
  padding-top: 2.2em;
  padding-bottom: 1em;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
}

.p2 {
  font-family: 'General Sans', sans-serif;
  text-align: center;
  color: rgb(37, 37, 37);
  font-size: 30px;
  font-weight: normal;
  padding-top: 2.2em;
  padding-bottom: 1em;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
}


/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(179, 219, 241);
}

/* mouse over link */
a:hover {
  color: rgb(222, 247, 255);
}

/* selected link */
a:active {
  color: blue;
}



.navTrigger {
  display: none;
}







.myH2 {
text-align:center;
font-size: 4rem;
}
.myP {
text-align: justify;
padding-left:15%;
padding-right:15%;
font-size: 20px;
}
@media all and (max-width:700px){
.myP {
  padding:2%;
}
}